div#nav a { background-color: #777;}
a { text-decoration: none; color: #fff; }
.dropdown-toggle { padding: 0; background: #777; }
/**** ****/
ul.dropdown { display: none;
  margin-top: 5px;margin-bottom: 5px; padding: 5px 0 5px 0; background-color: antiquewhite;margin-block: unset; width: 99.5%; border-left: 1%; border-style: solid;border-color: white;}
ul.dropdown li { list-style-type: none; background-color: #777; top: 0;outline: 2px solid white;}
ul.dropdown li a { text-decoration: none; padding: 0em 1em; display: block;  outline: 1px solid white;margin: 1px 0;}
#category{
	display:none;
}
#logo{
	width:100%;
	height:auto;
}
iframe{
	overflow-y: hidden;	
}
.searchclass{
	display: flex;
	
	width: 100%;
	max-width: 300px;
	height: 30px;
	font-size: 24px;
	border-radius: 15px 0 0 15px;
	color: black;
	background-color: white;
	border: 2px solid silver;
}
div#nav a{
	margin-top: 0;
	display:block;
	width:99%;
	max-height: 36px;
	padding: 6px;
	background-color: #777;
	max-width:208px;
	position:relative;
}
#menuUser{
	width: 100%;
	margin: 0 auto;
	height: 100px;
}
#nav{
	width:100%;
	height: 32px;
	background-color: #777;
	max-width:300px;
	border: 2px solid silver;
}
#nav2{
	position:relative;
	width:100%;
	height: 32px;
	background-color: #777;
	min-width:160px;
	border: 2px solid silver;
	max-width: 400px;
}
#loginformB{
	width: 80%;
	margin-top: 10px;
	margin-left: 5%;
	min-width: 180px;
	height: 30px;
	font-size: 22px;
	border-radius: 15px;
	color: white;
	background-color: black;
	border: 2px solid silver;
	text-align: center;
	margin-bottom: 10px;
}
div#nav2 a{
	display:block;
	width:95%;
	height: 18px;
	padding: 6px;
	background-color: #777;
	max-width:388px;
	position:relative;
}
#AdminSettings{
	display: grid;
	border: 1px solid silver;
}
#AdminSettings button{
	margin: 10px auto;
	width: 90%;
}
#register{
	display:block;
	padding: 6px;
	width: 95%;
	background-color: #777;
	border: solid 2px black;
	margin-top: 10px;
}
.loginform{
	width: 80%;
	margin-top: 10px;
	margin-left: 20px;
	min-width: 150px;
	height: 30px;
	font-size: 26px;
	border-radius: 15px;
	color: white;
	background-color: black;
	border: 2px solid silver;
}
#popselect{
	width:100%;
	min-width: 220px;
	z-index:90;
}
#buttonsearch{
	display: flex;
	width: 40px;
	max-width:40px;
	font-size: 26px;
	height:36px;
	border: 2px solid silver;
	border-radius: 0 15px 15px 0;
}
#userContainer{
	margin-left: 20px;
	float: left;
	position: relative;
	width:20%;
	max-width: 400px;
	min-width: 200px;
}
#searchContainer{
	width: 100%;
	max-width: 60%;
	/*margin-left: 20px;*/
	padding: 20px;
	float:left;
	display: flex;
}
#newpage{
	display:block;
	padding: 6px;
	width: 90%;
	background-color: #777;
	border: solid 2px black;
	margin-top: 10px;
	float: left;
}
#banner{
	border:1px solid silver;
	max-width:80px;
	width:20%;
	margin-left: 20px;
	float: left;
}
#usrsetcon{
	float: left;
	height: 60px;
	max-width: 50%;
	width: 100%;
}
#hellouser{
	float: left;
	height: 60px;
	max-width: 50%;
	width: 100%;
}
#settings{
	display:block;
	padding: 6px;
	width: 90%;
	background-color: #777;
	border: solid 2px black;
	margin-top: 10px;
}
#logout{
	display:block;
	padding: 6px;
	width: 90%;
	background-color: #777;
	border: solid 2px black;
	margin-top: 10px;
}

/*<div class='productminiature'>";
    		searchListLine+="<div class='productname'><h4>"+prodpom.getName()+"</h4></div>";
    		searchListLine+="<div class='productprice'><h5>"+prodpom.getPrice()+"</h5></div>";
    		searchListLine+="<div class='productimg'><img alt='"+prodpom.getImg_src()+"'></div>";
    		searchListLine+="<div class='productdescription'>*/
.productminiature{
	width:90%;
	min-height: 150px;
	margin: 5px auto;
	padding: 5px;
	border: 1px gold solid;
	color: black;
}
.productname{
	float: left;
	width: 78%;
	padding-left: 1%;
}
.productprice{
	float: left;
	width: 18%;
	padding-left: 1%;
	min-width: 100px;
}
.productimg{
	float:left;
	min-height: 100px;
	width: auto;
	margin: 0 5px;
}
.productdescription{
	float: left;
	color: silver;
	overflow: hidden;
}
#container{
	color: black;
}
#pgallery{
	width: 60%;
}
#ptitle{
	font-size: 26px;
}
#pdescription{
	width: 100%;
}
#product{
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	border: 2px solid silver;
	padding: 10px;
}
#commentalert{
	width: 100%;
	display:none;
	color: white;
	background-color: red;	
}
#comtext{
	resize: vertical;
	width: 100%;
	height: auto;
	max-height: 100px;
	border: 1px solid white;
	border-radius: 5px;
}
#settingscontainer{
	width: 65%;
	padding: 5%;
	margin: 10px auto;
	border: 1px solid #777;
}
#settingscontainer button{
	margin: 10px auto;
	width: 90%;
}
#addcomment{
}
#commentform{
	display: none;
}
#commentContainer{
	width: 100%;
}
button{
	width: 25%;
	min-width: 150px;
	height: 30px;
	text-align: center;
	margin-left: 1%;
	color: white;
	background-color: #777;
	border: 1px solid black;
	border-radius:5px;
}
.commentdivblock{
	border: 1px #777 solid;
	margin: 5px 0;
}
.editcomment{
	display: block;
	width: 20%;
	min-width: 100px;
	height: 24px;
	text-align: center;
	margin-left: 1%;
	color: white;
	background-color: #777;
	border: 1px solid black;
	border-radius:5px;
	padding: 3px;
}
hr{
	width: 100%;
	display: block;
}
.commenttext{
	resize: vertical;
	width: 95%;
	height: auto;
	margin: 2px auto;
	max-height: 100px;
	border: 1px solid white;
	border-radius: 5px;
}
.slide{
	max-height: 200px;
}
#loading{
	width: 100%;
	height: 1000px;
	display: none;
	text-align: center;
	overflow: hidden;
	position: fixed;
	background-color: white;
	z-index: +2;
}
#loadanim {
	display: grid;
	margin: 20px auto;
            border-top: 20px solid rgba(0,0,0,0);
            border-right: 20px solid yellow;
            border-bottom: 20px solid red;
            border-left: 20px solid purple;
            border-radius: 50%;
            width: 165px;
            height: 165px;
            animation: animacja 5s linear infinite;
        }

        @keyframes animacja {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }
#myproducts{
	width: 80%;
	margin: 10px auto;
	border: 1px #777 solid;
}
.list{
	background-color: silver;
	list-style-type: none;
	padding: 5px 5px 0 0;
}